* {
    //box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3865BA;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    height: 667px;
    padding: 41px 43px 57px 43px;
    background-color: #D9D9D9;
    border-radius: 30px;
    transform: scale(0.75);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.upperPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 83%;
    gap: 116px;
}

.heads {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.5px;
}

.headline {
    font-size: 48px;
    font-weight: bold;
}

.underline {
    display: flex;
    background-color: #3865BA;
    height: 5px;
    width: 125px;
    border-radius: 10px;
}

.count {
    font-size: 96px;
    font-weight: bold;
}

.btns {
    display: flex;
    align-items: center;
    gap: 73px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    background-color: #3865BA;
    color: #E6E6E6;
    font-size: 48px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plus-btn, .minus-btn, .reset-btn {
    font-size: 24px;
    color: #E6E6E6;
}

.plus, .plus-btn {
    background-color: #348D6E; /* Green */
}

.minus, .minus-btn {
    background-color: #D74747; /* Red */
}

.reset, .reset-btn {
    background-color: #3C3333; /* Grey */
}

.btn:active {
    transform: scale(0.92);
}

.btn:hover {
    filter: brightness(0.85);
}

.bigger-underline {
    background-color: #3865BA;
    height: 5px;
    width: 100%;
    border-radius: 10px;
}

.values {
    display: flex;
    gap: 82px;
    margin-top: 41px;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.5px;
}

.entry {
    font-size: 24px;
    font-weight: semi-bold;
}

.tag {
    font-size: 20px;
    font-weight: semi-bold;
}